body{background-color: aqua;}

button{
    background-color: bisque;
    font-size: 28px;
    font-weight: bold;
    border-radius: 30%;
}

h1 {text-align: center};
p {text-align: center};






div {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
